<h1><%= @city.name %></h1>

<%= image_tag(@city.photoURL) %>

<div class="new-post-button">
    <%= link_to "New Post", new_city_post_path(@city), class: "waves-effect waves-light btn-large right" %>
</div>

<!-- loops through and displays info for each city post -->
<div class="row">
<% @city.posts.order(created_at: :desc).each do |post| %>
        <div class="col s12 m4w">
            <div class="card blue-grey lighten-1">
                <div class="card-content white-text">
                    <!-- <span class="card-title"><%= post.title %></span> -->
                    <span class="card-title">
                        <%= link_to post.title, city_post_path(@city.id, post.id) %>
                    </span>
                    <p><%= time_ago_in_words post.created_at.to_datetime %>
                        ago</p>
                    <p><%= post.body %></p>
                </div>
                <div class="card-action">
                    <%= link_to 'Edit', edit_city_post_path(@city.id, post.id) %>
                    <%= link_to 'Delete', city_post_path(@city.id, post.id),
                          method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
            </div>
        </div>
    <% end %>
</div>
